<section class="login-container">
  <div class="cadastro-cont">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" id="form-cadastro" class="cadastro">
      <h2 class="subtitulo">cadastre-se</h2>
      <div class="campo">
        <label for="nome">Nome</label>
        <input class="input" id="nome" required type="text">
      </div>
      <div class="campo">
        <label for="email">Email</label>
        <input class="input" id="email" name="email" required type="email">
      </div>
      <div class="campo">
        <label for="telefone">Telefone</label>
        <input class="input" id="telefone" type="text">
      </div>
      <div class="campo senha">
        <label for="senha">Senha</label>
        <input class="input" id="senha" name="senha" required type="password">
      </div>
      <button class="button" type="submit">cadastrar</button>
      <!-- <a href="#">cadastrar</a> -->
    </form>
  </div>
  <div class="login-cont">
    <p *ngIf="mensagem !=''">{{mensagem}}</p>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" id="form-login" class="login">
      <h2 class="subtitulo">login</h2>
      <div class="campo">
        <label for="email">E-mail</label>
        <input class="input" id="email-cadastro" name="email" required type="email" [(ngModel)]="loginModel.email">
      </div>
      <div class="campo senha">
        <label for="senha">Senha</label>
        <input class="input" id="senha-cadastro" name="senha" required type="password" [(ngModel)]="loginModel.password">
      </div>
      <button id="enter" class="button" type="submit">entrar</button>


    </form>


  </div>
</section>