<footer>
  <div class="footer">
    <div class="footer-cont">
      <div class="footer-historia">
        <h3>Nossa História</h3>
        <p>Loja inaugurada em 2021, nosso sonho e levar tecnologia ao mundo, com os melhores preços do mercado,O fluxo do tempo é sempre cruel, sua velocidade parece diferente para cada pessoa, mas ninguém pode mudá-la. Uma coisa que não muda com o tempo é a memória dos dias mais jovens</p>
      </div>

      <div class="footer-contato">
        <h3>Contato</h3>
        <ul>
          <li>- (11)98437-5172</li>
          <li>- maaicondgl@outlook.com</li>
          <li>- Jandira - SP </li>
        </ul>
      </div>

      <div class="footer-redes">
        <h3>redes</h3>
        <ul>
          <li><a href="http://facebook.com" target="_blank"><img src="assets\img\facebook.svg"></a></li>
          <li><a href="http://instagram.com" target="_blank"><img src="assets\img\instagram.svg"></a></li>
          <li><a href="http://twitter.com" target="_blank"><img src="assets\img\twitter.svg"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- COPYRIGHT -->

  <div class="copy">
    <div class="container">
      <p>Maaicondgl 2021 - Alguns direitos reservados.</p>
    </div>
  </div>
</footer>