<!-- <section class="banner slide">
  <div><img src="assets\img\produtos\codbanner.png" alt="banner do call of"></div>
  <div><img src="assets\img\produtos\gtabanner.png" alt="banner do  Grand Theft Auto"></div>
  <div><img src="assets\img\produtos\reddeadbanner.png" alt="banner do Red Dead Redemption 2"></div>
  <div><img src="assets\img\produtos\bullybanner.png" alt="banner do Bully"></div>
  <div><img src="assets\img\produtos\Grupo 1.png" alt="banner do Bully"></div>

</section> -->
<!-- INTRODUÇAO -->
<!-- <section class="intro">
        <div class="intro-cont">
          <h1>MONTAMOS SEU COMPUTADOR COM O TAMANHO DO SEU SONHO</h1>
          <blockquote>
            <p>“Os videogames estimulam a criatividade e ainda trazem horas incríveis de diversão”</p>
            <cite>GameMania</cite>
          </blockquote>
        </div>
      </section> -->
<!-- PRODUTOS -->
<section class="produtos-container">

  <div class="sub-texto">
    <h2 class="subtitulo">produtos</h2>
    <p>TEMOS TODOS OS MODELOS E MARCAS DE VIDEO GAME E JOGOS , E MONTAMOS O PC DO SEU JEITO , ENVIO IMEDIATO</p>
  </div>
  <div class="produto-flex">
    <ul>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto1.png" alt="Computador Gamer Completo">
          <h2>Computador Gamer Completo</h2>
          <p>R$3999 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto2.png" alt="COMPUTADOR GAMER">
          <h2>COMPUTADOR GAMER</h2>
          <p>R$4999 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto3.png" alt="COMPUTADOR GAMER">
          <h2>COMPUTADOR GAMER</h2>
          <p>R$2999 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto4.png" alt="COMPUTADOR GAME">
          <h2>COMPUTADOR GAMER</h2>
          <p>R$3999 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto5.png" alt="Jogo Red Dead Redemption 2">
          <h2>Jogo Red Dead Redemption 2 </h2>
          <p>R$199 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto6.png" alt="Call Of Duty: Modern Warfare">
          <h2>Call Of Duty: Modern Warfare</h2>
          <p>R$199 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto7.png" alt="Call Of Duty: WW2">
          <h2>Call Of Duty: WW2</h2>
          <p>R$149 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto8.png" alt="Jogo The Witcher 3">
          <h2>Jogo The Witcher 3</h2>
          <p>R$199 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto9.png" alt="Jogo God of War">
          <h2>Jogo God of War</h2>
          <p>199 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto10.png" alt="Grand Theft Auto V">
          <h2>Grand Theft Auto V</h2>
          <p>R$199 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto11.png" alt="Call of Duty: Black Ops">
          <h2>Call of Duty: Black Ops</h2>
          <p>R$149 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
      <li>
        <div class="foto-produto">
          <img src="assets\img\produtos\produto12.png" alt="Bully: Scholarship">
          <h2>Bully: Scholarship</h2>
          <p>R$299 a vista ou 10x no cartão de credito</p>
          <a href="login.html">comprar</a>
        </div>
      </li>
    </ul>
  </div>
</section>
<div class="bg-footer">
  <blockquote class="bg-externo">
    <p>“Meu sonho é viver em um mundo que posso jogar o dia inteiro e ninguém vai reclamar comigo”
    <p>
      <cite>desconhecido</cite>
  </blockquote>
</div>