<header id="header">
  <a id="logo" class="logo" routerLink="/home"><img src="assets\img\logodesk.svg" alt="gamemania-logo">

  </a>
  <nav id="nav">
    <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
      <span id="hamburger"></span>
    </button>
    <ul id="menu" class="menu-nav" role="menu">
      <li><a routerLink="">home</a></li>
      <li><a routerLink="/produtos">Produtos</a></li>
      <li><a routerLink="/sobre">sobre</a></li>
      <li><a id="link-menu" routerLink="/login">login</a></li>
    </ul>
  </nav>
</header>